name: TEST
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
#    runs-on: ubuntu-latest
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: docker://golang:1.14
#      - name: Set up Go
#        uses: actions/setup-go@v1
#        with:
#          go-version: 1.12
      - name: test
        run: |
          echo "A initial message"
          ls /usr/bin/
          which go
          go version
          go test ./...
      - run: echo "One last message"
